<launch>
	<node name="stage" pkg="stage_ros" type="stageros" args="$(find lab2)/world/playground.world" />
	<node name="perceiver" pkg="lab2" type="perceiver.py"/>
	<!--<node pkg="rviz" type="rviz" name="rviz"/>-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lab2)/rviz/ransacConf.rviz"/>
</launch>
